body {
  background-color: rgb(63, 72, 80);
  margin: 20px;
}

p {
  color: cornsilk;
  font-family: monospace;
}

span {
  color: cornsilk;
  font-family: monospace;
}

details {
  color: cornsilk;
  font-family: monospace;
}

a {
  color: cornsilk;
  font-family: monospace;
}
